@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

body.dark {
  background-color: #1a1a1a;
}
body.light {
  background-color: white;
}
.text-orange-500 {
  color: #fb923c;
}