@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins";
  scroll-behavior: smooth;
}
/* theme */

body.dark {
  background-color: #1a1a1a;
}
body.light {
  background-color: white;
}

.correct{
  background-color: #00d397;
}

.wrong{
  background-color: #ff4a4a;
}

/* animation and hovers */

.animation{
 @apply shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl
}